.profilee_div{
    background-color: #fff;
}

.colz .colz-icon{
    color: white;
    padding: 8px;
    padding-left: 0px;
		
		
}

.colz .colz-icon i:hover{
    transform: scale(1.5);
}

.primary_text h1{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem !important
}

.secondary_text h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem !important;
    color: grey;
}

.para_text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;

}

.social_icons img{
    height: 24px;
    width: 24px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}


.icons_div{
    margin: 3px;
}

.profile-picture{
    display: contents;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
}


.para_text{
    font-family: monospace;
    font-size: 15px;
    font-weight: 300;

}

.project_info{
   color: #743dbc ;
    font-family: 'Salesforce Sans';
    font-weight: 700;
    font-size: 1.2rem;
}

.profile-pic-background img{
    height: 100%;
    width: 80%;
    /* background-image: url(../../assets/HOME/Sf_noob_logo.png); */
    background-size: cover;
    /* border-radius: 50%; */
    background-repeat: no-repeat;
    background-position: center;

}

.profile-pic-background:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}

.profile-detail-name{
/*     font-size: 24px; */
    font-family:'Poppins SemiBold';
}

.highlighted-text{
    color:#A020F0;
}

.profile-options{
    padding-top: 4px;
}

.profile-options .highlighted-btn{
    /* margin: 0 0 0 28px; */
    margin-top: 10px;
    background: #A020F0;
    color: #fff;
    font-weight: 600;
    border-radius: 1.5rem;
    padding: 11px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-options .highlighted-btn:hover{
    
    background-color: cornsilk;
    color: black;
}

/* @media screen and (max-width:1110px) {
    .profile-picture{
        margin: 0 0px 0 80px;
    }

    .profile-detail-name{
        font-size: 20px;
    }

    .profile-detail-role .primary-text{
        font-size: 12px;
    }

    
    .profile-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
        border-radius:  1.5rem;
    }
}*/


@media screen and (max-width:920px) {
    .profile-pic-background img{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .social_icon{
        display: none !important;
    }

}


@media screen and (max-width:500px) {
    .profile-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }

    .profile-pic-background img{
        height: 100%;
        width: 100%;
        /* background-image: url(../../assets/HOME/Sf_noob_logo.png); */
        background-size: cover;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
    
    }

    .social_icon{
        display: none !important;
    }

    .primary_text h1{
        font-size: 30px;
        text-align: center !important;
    }

    .secondary_text h4{
        text-align: center !important;
        float: none;
    }

    .para_text{
        display: none;
        /* text-align: center;
        float: none;
        font-size: small; */
    }

    .profile-options{
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}