.about_div{
    background-color: #f6f6f6;
}
.skillS_div{
    padding-top: 20px;
}


.para_text{
    font-family: monospace;
    font-size: 15px;
    font-weight: 300;

}

.project_info{
   color: #743dbc ;
    font-family: 'Salesforce Sans';
    font-weight: 700;
    font-size: 1.2rem;
}

.porfile_title{
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 4px solid #A020F0;
    border-bottom-width: thick;
    width: 15%;
}

.porfile_title h2{
    font-family: cursive !important;
    font-size: 30px;
    font-weight: 600;
    color: #333;
}

.profile_paragra{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    font-weight: 100;

}



.profile-pictures img{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    border-radius: 1rem;
    height: auto;
    width: 80%;
    margin: 0 0px 0 65px;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (max-width:900px) {

    .profile-pictures img{
        height: 100%;
        width: 100% !important;
        margin: 0;
        margin-bottom: 2px;
        background-repeat: no-repeat;
        background-position: center;
    }


}